%h3 Crimes by DOW
%table
  %tr
    - @dow.each do |dow|
      %th= dow[0]
  %tr
    - @dow.each do |dow|
      %td= dow[1]

%h3 Crimes by neighborhood
%table
  - @neighborhoods.each do |neighborhood|
    %tr
      %th= neighborhood[0]
      %td= neighborhood[1]
