%table
  %tr
    %th Sunday
    %th Monday
    %th Tuesday
    %th Wednesday
    %th Thursday
    %th Friday
    %th Saturday
    %th Other
  %tr
    - @dow.each do |dow|
      %td= dow[1]

%table
  - @neighborhoods.each do |neighborhood|
    %tr
      %td= neighborhood

%table
  - @crime.each do |crime|
    %tr
      %td= crime.DAY_WEEK
      %td= crime.NEIGHBORHOOD
